html{
    font-family: Arial, Helvetica, sans-serif;
}

.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:   0 2rem ;
    font-size: 1.3rem;
    height: 60px;
}

.mobile-nav{
    display: none;
    position: fixed;
    z-index: 999;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    font-size: 1.3rem;
} 

 .menu-btn{
    display: none;
 }

.mobile-nav img{
    position: absolute;
    top: 2%;
    left: 2% ;
}

.mobile-nav ul{
    list-style: none;   
}

.mobile-nav ul li{
    margin-top: 0.5rem;
    font-size: 3rem;
    
}

.mobile-nav ul li a{
    color: black;
    text-decoration: none;
    margin-top: 5rem;
}

.mobile-nav ul li a:hover{
    text-decoration: underline;
}

.mobile-nav button{
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
    padding: 0.7rem 1rem ;
    border-radius: 4px;
    font-weight: 500;
    transition: 0.5s ease;
    font-size: 2rem;
}

.mobile-nav button:hover{
    scale: 1.1;
    background-color: rgb(165, 65, 65);
 }

 .NavBar__start {
    display: flex;
 }

.NavBar__start ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
}

.NavBar ul li a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.NavBar ul li a:hover{
    text-decoration: underline;
}

.NavBar__end{
    display: flex;
    align-items: center;
}

.NavBar__end ul{
display: flex;
align-items: center;
list-style: none;
gap: 2rem;
}

.NavBar__end button{
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
    padding: 0.7rem 1rem ;
    border-radius: 4px;
    font-weight: 550;
    transition: 0.5s ease;
}

.NavBar__end button:hover{
    scale: 1.1;
    background-color: rgb(165, 65, 65);
}

ul li a{
    cursor: pointer;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.hero__image img{
    width: 100%;
 }

.hero__text{
    text-align: center;
}

.hero__text h1{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero__text p{
    font-size: 1.2rem;
    color: gray;
}

.hero__text button{
    padding: 0.6rem 2rem;
    background-color:darkgreen;
    border-radius: 1em;
    color: white;
    font-size: 1.2rem;
    font-weight: 550;
    border: 2px black solid;
    transition: 0.5s ease;
}

.hero__text button:hover{
    background-color: rgb(51, 177, 51);
    scale: 1.1;
}

.hero__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
}

.hero__icons p{
    margin: 0;
    color: gray;
}

.SellAnywhere__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5rem 10rem;
}

.SellAnywhere__left{
    width: 60%;
    display: flex;
    flex-direction: column;
}



.SellAnywhere__right {
    width: 40%;
}

.SellAnywhere{
    position: relative;
    
}

 #img{
    position: absolute;
    bottom: 5rem;
    right: 1rem ;  
}

.left__icons{
    margin: 4rem 0 ;
    display: flex;
    gap: 4rem;
}

.SellAnywhere__left h1{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.SellAnywhere__left p{
    font-size: 1.2rem;
    color: gray;
}

.SellAnywhere__left button{
    align-self: flex-start;
    padding: 0.5rem 3rem;
    background-color: lightcoral;
    border-radius: 1rem;
    color: darkred;
    font-size: 1.2rem;
    font-weight: 550;
    border: 2px darkred solid;
    transition: 0.5s ease;
}

.SellAnywhere__left button:hover{
    scale: 1.1;
    background-color: rgb(226, 80, 80);
}


.SellAnywhere__buttom{
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: lightcoral;
    color: darkred;
    border: 2px darkred solid;
    border-radius: 2rem;
    padding: 1rem 5rem ;
    margin: auto 10dvw;
    
}

.buttom__buttom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttom__buttom .start{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buttom__buttom p{
    font-size: 1.2rem;
}

.buttom__buttom .end{
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width:1200px){
    html{
        font-size: 14px;
    }  
}

@media (max-width:980px){
    .HideOnMobile li a, .HideOnMobile li button {
        display: none;
    }

    .menu-btn{
        display: inline-block ;
        margin-right: 2rem;
    }

    .SellAnywhere__container{
        margin: 5rem 5rem;
        justify-content: center;
    }

    .hero h1{
        font-size: 2.5rem;
    }

    .SellAnywhere__left h1{
        font-size: 2.5rem;
    }

    #img{
        display: none;
    } 

    .hero__icons{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .buttom__buttom{
        flex-direction: column;
        align-items: space-between;
    }

    /* .buttom__buttom .start{
        display: flex;
        justify-content: space-between;
    }

    .buttom__buttom .end{
        display: flex;
        justify-content: space-between;
    } */

    .left__icons {
        flex-direction: column;
    }

    .SellAnywhere__left button{
        font-size: 1rem;
    }
}

@media (max-width:700px){
    html{
        font-size: 12px;
    }  
}